*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 204, 91);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin: 20px 0;
}

nav{
    display: flex;
    gap: 15px;
}

nav button{
    padding: 10px 20px;
    border: none;
    background-color: #8b4513;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover{
    background-color: #a85b2a;
}

#menu{
    text-decoration: underline;
}

#main-box{
    background-color: #fff8e1;
    border: 3px solid black;
    width: 1000px;
    max-width: 90%;
    height: auto;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    border-radius: 10px;
}

#main-box h1 {
    font-size: 32px;
}

#main-box p {
    font-size: 18px;
}

#pancake, #egg{
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
}

#funnypancake{
    width: 600px;
    border-radius: 10px;
    margin-top: 10px;
}